$t-blue-100: #0088ff;
$t-blue-200: #083987;
$t-white-100: #fffcf3;
$link-color: $t-blue-200;
$sidebar-color: $t-white-100;
$nav-child-link-color: $t-blue-200;
$table-background-color: white;
$body-heading-color: $t-blue-200 !default;
